// This Pen is inspired on this pen: https://codepen.io/avstorm/pen/oqKbLq. The Author Andreas Storm has an insane amount of incredible stuff on Codepen.

// * Button

button {
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    @include transition;

    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: inherit;
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: inherit;
    box-sizing: inherit;
    margin: inherit;
    font: inherit;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;

    &:focus {
        outline: none;
    }
}

button.emphasis-one {
    border: 1px solid $primary;
    color: $primary;
    font-size: 18px;

    &:hover {
        color: $white;
        background-color: $primary;
    }

}

// * Close button 

button.close {
    @include close-icon($nav-bar-color);
    width: 30px;
    height: 30px;
    @include transition-color;
    &:hover { @include close-icon($nav-bar-color-hover);}

}

// * Hamburguer 
button.hamburguer {
    @include hamburguer-icon($nav-bar-color);
    @include transition-color;
    border-radius: 0;
    background-size: cover;
    width: 30px;
    height: 30px;

    &:hover { @include hamburguer-icon($nav-bar-color-hover);}

}

// * CTA Button
//This variable controls the total height of the button:
$cta-line-height:40px;

.lc-cta {
    width: fit-content;
   //display: inline-block;
    display: table;
    position: relative;
    padding-left: 0;

    @include transition;

    background-repeat: no-repeat;

    span {
        padding-left: 15px;
        font-family: $font-type-2;
        font-style: normal;
        font-weight: 600;
        font-size: calc(16px + (18 - 16) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) ));
        line-height: 100%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $cta-color;
        text-decoration: none;
        @include transition;
        margin-top: auto;
        margin-bottom: auto;
        display: table-cell;
        vertical-align:middle;
        padding-bottom: 3px;
    }
    
    
    &:before {
        content: "";
        display: block;
        background-color: darken($primary,15%);
        border-radius: $cta-line-height;
        height: $cta-line-height;
        width: $cta-line-height;
        position: absolute;
        z-index: -1;
        
        @include transition;
    
    } // before


    &:after {
        content: "";
        display: table-cell;
        height: $cta-line-height;
        width: $cta-line-height;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
        background-position: right 15px center;
        background-size: 20px;
    }

$arrow-movement: 5px;

    &:hover {
        margin-right: $arrow-movement;

        color:$cta-color-hover;
        
        span {
            padding-right: $arrow-movement;
        }

        &:before {
            width: 100%;
            animation: cta-light 2s infinite;

        } // before hover
    } // hover

}


//* Right Arrow

$padding-right-arrow: 45px;

.lc-cta.right-arrow::after {
    // content: "";
    // display: table-cell;
    // height: $cta-line-height;
    // width: $cta-line-height;
    // background-repeat: no-repeat;
    // position: relative;
    // z-index: 2;

    background-image:url('../images/icons/right-sketched-arrow-white.svg');
    // background-position: right 15px center;
    // background-size: 20px;
    padding-right: $padding-right-arrow;

    &:hover {
        background-position: right 10px center;
        //padding-left: 25px;
    } // hover


} // .lc-cta.arrow-right::after


.lc-cta.right-arrow {
    &:hover {
        .lc-cta.right-arrow::after {
            transform: translateX(5px);
        }
    }
}

//* Contact Button

.lc-cta.contact-button::after {
    // content: "";
    // height: $cta-line-height;
    // width: $cta-line-height;
    // background-repeat: no-repeat;
    // position: relative;
    // z-index: 2;
    // left: auto;

    background-image:url('../images/icons/email-sketched-envelope-white.svg');
    // background-position: right 15px center;
    // background-size: 20px;

    padding-right: $padding-right-arrow;

    &:hover {
        background-position: right 10px center;
        //padding-left: 25px;
    } // hover


} // .lc-cta.button 

@keyframes cta-light {
    0% {background-color: $primary;}
    33% {background-color: darken($primary, 10%);}
    66% {background-color: darken($primary, 15%);}
    // For a smooth transition
    100% {background-color: $primary;}
  }
  
  
  @-webkit-keyframes cta-light {
    0% {background-color: $primary;}
    33% {background-color: darken($primary, 10%);}
    66% {background-color: darken($primary, 15%);}
    100% {background-color: $primary;}
  }

// * Specific Buttons

.sharing-icon {
    @include transition-color;
}

.sharing-icon#linkedin {
    @include linkedin-icon($nav-bar-color);
        &:hover {@include linkedin-icon($nav-bar-color-hover);}
} // Linkedin
.sharing-icon#github {
    @include git-icon($nav-bar-color);
        &:hover {@include git-icon($nav-bar-color-hover);}
} // Git
.sharing-icon#instagram {
    @include instagram-icon($nav-bar-color);
        &:hover {@include instagram-icon($nav-bar-color-hover);}
} // Instagram
.sharing-icon#codepen-nav {
    @include codepen-icon($nav-bar-color);
        &:hover {@include codepen-icon($nav-bar-color-hover);}
} // Codepen
.sharing-icon#dribbble-nav {
    @include dribbble-icon($nav-bar-color);
        &:hover {@include dribbble-icon($nav-bar-color-hover);}
} // Codepen

.sharing-icon.vertical-label {
    background-repeat: no-repeat;
    padding-top: 32px;
    background-position: top center;
    background-size: 25px;
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    /* identical to box height */
    color: $white;

    letter-spacing: 0.05em;
    width: fit-content;

    &:hover {
        color: $nav-bar-color-hover;
    }

}
// * Contact Anchor

$contact-height: 40px;

.contact-anchor {
    padding: 5px 10px;
    padding-left: 45px !important;
    color: $white;
    text-transform: none;
    display: block;
    width: fit-content;
    line-height:$contact-height;
    font-weight: 500;
    margin-bottom: 15px;

    background-position: left 7px center;
    background-size: 30px;
    background-repeat: no-repeat;

    // border: 1px solid $primary;
    border-radius: 5px;

    @include transition-slow-color;

    &:hover {
        color: $primary;
        //background-color: darken($white,83%);
        @include box-shadow;
    }
    
}


.contact-anchor.linkedin {
    @include linkedin-icon($nav-bar-color);
    &:hover {@include linkedin-icon($nav-bar-color-hover);}
} // Linkedin

.contact-anchor.git {
    @include git-icon($nav-bar-color);
    &:hover {@include git-icon($nav-bar-color-hover);}
} // Git

.contact-anchor.codepen {
    @include codepen-icon($nav-bar-color);
    &:hover {@include codepen-icon($nav-bar-color-hover);}
} // Codepen
.contact-anchor.dribbble {
    @include dribbble-icon($nav-bar-color);
        &:hover {@include dribbble-icon($nav-bar-color-hover);}
} // dribble

.contact-anchor.mail {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='#{$white}'%3E%3Cpath d='M28.228 5.131H4.329c-1.097 0-2.52-.224-3.54.286a2.63 2.63 0 00-.569.39.578.578 0 00-.139.242c-.014.076.021.38.021.683v13.795c0 .828-.236 2.316.009 3.083.586 1.843 3.741 1.198 5.226 1.198h22.358c2.284 0 2.183-1.62 2.183-3.45v-2.706c0-.303.006-.676.006-.834l.001-.286c-.005-.647-.006-1.298-.007-1.95 0-.302.005-.793.006-1.096l.001-.725c-.003-.17-.005-.34-.006-.513-.001-.284.005-.66.005-.843l.001-.332a93.72 93.72 0 01-.007-1.038c0-.303.006-.675.006-.833a8.175 8.175 0 00-.005-.352v-.068c0-1.708.787-4.65-1.651-4.65zm-.171 18.863H2.463c-.098 0-.187-.01-.268-.025-.146-.03-.079-.249.142-.456l1.316-1.239c.22-.207.4-.416.4-.466v-.447c0-.197-.168-.178-.375.043-.572.613-1.146 1.224-1.72 1.835-.208.22-.542.208-.635-.08-.13-.407-.144-.913-.144-1.401V6.678c0-.302.209-.688.507-.744a3.93 3.93 0 01.736-.049c.303.004.371.195.152.405l-.993.952c-.218.21-.395.392-.395.406 0 .016.176-.142.395-.351l1.046-1.005c.218-.21.527-.37.688-.36.113.008.212.012.293.012h18.359c.965 0 6.837-.717 6.837.82v3.449c0 .302-.174.72-.39.934l-.458.452c-.216.213-.4.14-.434-.16-.143-1.261-.6-2.17-1.845-1.287l-3.47 2.458c-.885.627-2.204 1.193-1.958 2.463.108.56.995 1.23 1.69 1.736a.455.455 0 01.053.711l-.13.13a.644.644 0 01-.823.055 21.57 21.57 0 01-1.06-.856c-.63-.552-1.162-.941-2.07-.882-.61.04-1.171.516-1.639.847-.683.483-1.206.523-1.674.357-.285-.101-.308-.413-.086-.62l.142-.131c.222-.207.253-.345.088-.264-.1.05-.194.11-.276.184l-.265.234c-.146.13-.428.117-.627-.033-.118-.09-.238-.181-.361-.27a.49.49 0 00-.142-.083c-1.716-.672-2.649.45-3.85 1.516-1.35 1.197-3.353 2.401-4.178 4.043-.094.187.032.372.207.441.968.386 1.983.25 3.02.25H21.77c1.083 0 2.034.111 3.04-.288.237-.093.36-.343.243-.57a4.929 4.929 0 00-.306-.51c-.172-.249-.16-.613.053-.83l.149-.153c.211-.217.446-.337.525-.268.08.068.162.15.191.175a.72.72 0 00.122.085c.04.02.288.17.588.21.909.124 1.176-1.065 1.222-2.379.012-.303.18-.723.39-.94.146-.148.29-.294.434-.444.213-.216.384-.342.384-.281v.11c0 .187.038.82.071 1.646.012.302-.015.583-.057.628a.102.102 0 00.004.15c.046.04.089.318.093.62.029 2.14-.089 4.595-.86 4.595zm.373-10.36l-.559.598c-.207.221-.361.154-.344-.148.011-.175.021-.369.03-.572.013-.303.186-.728.392-.949l.48-.516c.207-.222.374-.156.374.147v.491c0 .303-.167.727-.373.95zm.373.705c0 .285-.173.69-.386.904-.159.16-.316.319-.474.476-.213.215-.398.173-.416-.092-.018-.266.142-.656.355-.87l.535-.542c.213-.214.386-.16.386.124zm-1.308.543c0 .13-.003.183-.006.118a3.157 3.157 0 01-.002-.116c0-.034 0-.074.002-.119.004-.065.006-.013.006.117zM26.362 18.9c.016.302-.017.342-.245.142l-3.887-3.4c-.69-.602-1.214-1.167-.262-1.842l2.978-2.11c.408-.288 1.466-1.407 1.466-.622v6.628c0 .235-.074.786-.05 1.204zm-3.011 2.244c.291.255.949.48.4.48H7.08c-1.654 0-.287-.623.559-1.372.835-.742 2.772-3.187 4.24-3.38.3-.038.74.194.981.376.803.603 1.746 1.267 2.749.865.995-.4 2.31-1.723 3.327-.832l2.321 2.031 2.093 1.831zm-.706-2.892l.091-.098a.56.56 0 01.77-.054.513.513 0 01.02.744l-.065.069a.584.584 0 01-.78.064c-.225-.18-.242-.504-.036-.725zm.859 1.432c-.146-.133-.095-.413.118-.627l.069-.07c.213-.215.507-.283.656-.152.148.13.097.41-.116.626l-.08.08c-.213.215-.5.276-.647.143z'/%3E%3Cpath d='M9.833 14.863c.095-.506-.085-.898-.387-1.226-.204-.224-.233-.538-.017-.75l.21-.207a.677.677 0 01.837-.069l.685.486c.247.175.274.49.059.704l-4.388 4.365c-.215.214-.388.523-.388.69v.305c0 .064.004.124.012.177.014.098.217-.004.427-.22.667-.69 1.334-1.378 1.998-2.056l2.825-2.913a.66.66 0 01.83-.076l1.21.857a.504.504 0 00.083.047c2.066.845 3.686-.95 5.246-2.055 1.91-1.353 4.86-2.703 6.215-4.653.14-.202.108-.45-.145-.541-.962-.348-1.973-.221-2.989-.221H8.428c-1.082 0-2.227-.162-3.253.209-.237.085-.583.33-.381.622.607.874 1.599 1.543 2.575 2.16.256.162.29.465.074.677l-.206.203a.679.679 0 01-.838.067L4.331 9.98a1.383 1.383 0 00-.182-.087c-.053-.022-.098-.227-.098-.462 0-.235-.175-.254-.393-.042l-.075.072c-.217.21-.405.387-.42.394a7.11 7.11 0 01.366-.368l.129-.126c.217-.211.21-.218-.01-.011a38.18 38.18 0 00-.219.207c-.218.21-.432.41-.475.452-.042.041-.248.25-.466.46-.313.304-.631.613-.957.927-.435.446.032-.001.887-.83.218-.211.383-.367.37-.348-.014.019-.2.206-.418.417l-.792.77a1.485 1.485 0 00-.394.929v.116c0 .302.171.372.383.154l.438-.448c.211-.217.363-.148.355.155-.006.26-.004.522.004.78.009.303-.15.722-.363.937l-.432.437c-.213.215-.385.435-.385.49 0 .057.18-.065.401-.272l.42-.394c.22-.208.414-.131.436.17.027.379.051.689.051.878 0 .08-.006.21-.014.377-.01.208-.194.55-.41.762-.164.163-.33.325-.494.489a1.5 1.5 0 00-.39.933v.61c0 .303.172.371.382.154l.473-.49c.21-.217.384-.147.402.155l.003.048c.019.302-.12.722-.331.94l-.547.563c-.21.217-.381.565-.381.775 0 .21.173.207.387-.008l.885-.882.082-.082c.046-.044.12.076.197.255.077.18.003.48-.21.695-.32.32-.638.64-.955.961-.214.215-.387.408-.387.431 0 .023.174-.131.388-.345l.998-.993c.216-.213.58-.165.882-.195.226-.023.499-.163.83-.456l3.343-2.967c.534-.473 2.057-1.401 2.208-2.203zm-.845-2.642l-.211.217c-.211.217-.498.321-.639.23a9.5 9.5 0 01-.253-.171l-.1-.07c-.055-.04.072-.247.283-.464a80.1 80.1 0 00.225-.23c.211-.218.413-.373.45-.349l.064.045.281.198c.157.11.111.375-.1.594zM6.495 8.675c-.221-.207-.143-.438.157-.47 1.588-.173 3.464.113 4.899.113h12.105c.303 0 .31.063.057.228-.5.325-1.185.907-1.503 1.132l-4.256 3.015c-.805.57-1.827 1.669-2.905 1.669-.304 0-.738-.239-.984-.414l-3.562-2.524c-1.174-.832-2.857-1.677-4.008-2.75zM3.57 19.255v-.294c0-.163.005-.489.006-.726v-.43a52.96 52.96 0 01-.006-.665c0-.302.005-.65.006-.776v-.229c.035-.878.192-3.695.14-4.902-.013-.303.125-.398.372-.222l4.132 2.93c1.066.756.057 1.4-.559 1.946l-2.9 2.573c-.364.323-1.191 1.398-1.191.796zm21.881-9.258l.1-.07c.246-.174.63-.479.857-.68l1.355-1.194c.227-.2.337-.409.235-.43-.105-.021-.367.15-.584.36l-2.015 1.95c-.218.211-.195.24.052.064zm-23.872.024c.682-.664 1.378-1.342 2.083-2.038.216-.212.39-.617.39-.903 0-.286-.174-.346-.389-.132L1.575 9.02c-.216.213-.39.609-.39.885 0 .274.177.327.394.115z'/%3E%3Cpath d='M19.84 13.972c.213-.15.562-.442.783-.65 1.91-1.818 3.662-3.49 5.23-4.997l.374-.363c.207-.2.358-.364.339-.364-.02 0-.152.112-.297.25-.146.136-.148.136-.007-.001.142-.137.218-.25.17-.25-.049 0-.264.172-.482.382A1078.32 1078.32 0 0020.799 13c2.226-2.19 5.296-5.198 4.768-4.727l-5.722 5.59c-.215.212-.218.261-.005.11zm6.842 6.846c-.166.17-.33.34-.496.508-.211.218-.274.392-.14.392.133 0 .286-.043.342-.098l.1-.098.466-.468c.214-.215.325-.443.25-.51-.078-.065-.311.058-.522.274z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h30v30H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='#{$primary}'%3E%3Cpath d='M28.228 5.131H4.329c-1.097 0-2.52-.224-3.54.286a2.63 2.63 0 00-.569.39.578.578 0 00-.139.242c-.014.076.021.38.021.683v13.795c0 .828-.236 2.316.009 3.083.586 1.843 3.741 1.198 5.226 1.198h22.358c2.284 0 2.183-1.62 2.183-3.45v-2.706c0-.303.006-.676.006-.834l.001-.286c-.005-.647-.006-1.298-.007-1.95 0-.302.005-.793.006-1.096l.001-.725c-.003-.17-.005-.34-.006-.513-.001-.284.005-.66.005-.843l.001-.332a93.72 93.72 0 01-.007-1.038c0-.303.006-.675.006-.833a8.175 8.175 0 00-.005-.352v-.068c0-1.708.787-4.65-1.651-4.65zm-.171 18.863H2.463c-.098 0-.187-.01-.268-.025-.146-.03-.079-.249.142-.456l1.316-1.239c.22-.207.4-.416.4-.466v-.447c0-.197-.168-.178-.375.043-.572.613-1.146 1.224-1.72 1.835-.208.22-.542.208-.635-.08-.13-.407-.144-.913-.144-1.401V6.678c0-.302.209-.688.507-.744a3.93 3.93 0 01.736-.049c.303.004.371.195.152.405l-.993.952c-.218.21-.395.392-.395.406 0 .016.176-.142.395-.351l1.046-1.005c.218-.21.527-.37.688-.36.113.008.212.012.293.012h18.359c.965 0 6.837-.717 6.837.82v3.449c0 .302-.174.72-.39.934l-.458.452c-.216.213-.4.14-.434-.16-.143-1.261-.6-2.17-1.845-1.287l-3.47 2.458c-.885.627-2.204 1.193-1.958 2.463.108.56.995 1.23 1.69 1.736a.455.455 0 01.053.711l-.13.13a.644.644 0 01-.823.055 21.57 21.57 0 01-1.06-.856c-.63-.552-1.162-.941-2.07-.882-.61.04-1.171.516-1.639.847-.683.483-1.206.523-1.674.357-.285-.101-.308-.413-.086-.62l.142-.131c.222-.207.253-.345.088-.264-.1.05-.194.11-.276.184l-.265.234c-.146.13-.428.117-.627-.033-.118-.09-.238-.181-.361-.27a.49.49 0 00-.142-.083c-1.716-.672-2.649.45-3.85 1.516-1.35 1.197-3.353 2.401-4.178 4.043-.094.187.032.372.207.441.968.386 1.983.25 3.02.25H21.77c1.083 0 2.034.111 3.04-.288.237-.093.36-.343.243-.57a4.929 4.929 0 00-.306-.51c-.172-.249-.16-.613.053-.83l.149-.153c.211-.217.446-.337.525-.268.08.068.162.15.191.175a.72.72 0 00.122.085c.04.02.288.17.588.21.909.124 1.176-1.065 1.222-2.379.012-.303.18-.723.39-.94.146-.148.29-.294.434-.444.213-.216.384-.342.384-.281v.11c0 .187.038.82.071 1.646.012.302-.015.583-.057.628a.102.102 0 00.004.15c.046.04.089.318.093.62.029 2.14-.089 4.595-.86 4.595zm.373-10.36l-.559.598c-.207.221-.361.154-.344-.148.011-.175.021-.369.03-.572.013-.303.186-.728.392-.949l.48-.516c.207-.222.374-.156.374.147v.491c0 .303-.167.727-.373.95zm.373.705c0 .285-.173.69-.386.904-.159.16-.316.319-.474.476-.213.215-.398.173-.416-.092-.018-.266.142-.656.355-.87l.535-.542c.213-.214.386-.16.386.124zm-1.308.543c0 .13-.003.183-.006.118a3.157 3.157 0 01-.002-.116c0-.034 0-.074.002-.119.004-.065.006-.013.006.117zM26.362 18.9c.016.302-.017.342-.245.142l-3.887-3.4c-.69-.602-1.214-1.167-.262-1.842l2.978-2.11c.408-.288 1.466-1.407 1.466-.622v6.628c0 .235-.074.786-.05 1.204zm-3.011 2.244c.291.255.949.48.4.48H7.08c-1.654 0-.287-.623.559-1.372.835-.742 2.772-3.187 4.24-3.38.3-.038.74.194.981.376.803.603 1.746 1.267 2.749.865.995-.4 2.31-1.723 3.327-.832l2.321 2.031 2.093 1.831zm-.706-2.892l.091-.098a.56.56 0 01.77-.054.513.513 0 01.02.744l-.065.069a.584.584 0 01-.78.064c-.225-.18-.242-.504-.036-.725zm.859 1.432c-.146-.133-.095-.413.118-.627l.069-.07c.213-.215.507-.283.656-.152.148.13.097.41-.116.626l-.08.08c-.213.215-.5.276-.647.143z'/%3E%3Cpath d='M9.833 14.863c.095-.506-.085-.898-.387-1.226-.204-.224-.233-.538-.017-.75l.21-.207a.677.677 0 01.837-.069l.685.486c.247.175.274.49.059.704l-4.388 4.365c-.215.214-.388.523-.388.69v.305c0 .064.004.124.012.177.014.098.217-.004.427-.22.667-.69 1.334-1.378 1.998-2.056l2.825-2.913a.66.66 0 01.83-.076l1.21.857a.504.504 0 00.083.047c2.066.845 3.686-.95 5.246-2.055 1.91-1.353 4.86-2.703 6.215-4.653.14-.202.108-.45-.145-.541-.962-.348-1.973-.221-2.989-.221H8.428c-1.082 0-2.227-.162-3.253.209-.237.085-.583.33-.381.622.607.874 1.599 1.543 2.575 2.16.256.162.29.465.074.677l-.206.203a.679.679 0 01-.838.067L4.331 9.98a1.383 1.383 0 00-.182-.087c-.053-.022-.098-.227-.098-.462 0-.235-.175-.254-.393-.042l-.075.072c-.217.21-.405.387-.42.394a7.11 7.11 0 01.366-.368l.129-.126c.217-.211.21-.218-.01-.011a38.18 38.18 0 00-.219.207c-.218.21-.432.41-.475.452-.042.041-.248.25-.466.46-.313.304-.631.613-.957.927-.435.446.032-.001.887-.83.218-.211.383-.367.37-.348-.014.019-.2.206-.418.417l-.792.77a1.485 1.485 0 00-.394.929v.116c0 .302.171.372.383.154l.438-.448c.211-.217.363-.148.355.155-.006.26-.004.522.004.78.009.303-.15.722-.363.937l-.432.437c-.213.215-.385.435-.385.49 0 .057.18-.065.401-.272l.42-.394c.22-.208.414-.131.436.17.027.379.051.689.051.878 0 .08-.006.21-.014.377-.01.208-.194.55-.41.762-.164.163-.33.325-.494.489a1.5 1.5 0 00-.39.933v.61c0 .303.172.371.382.154l.473-.49c.21-.217.384-.147.402.155l.003.048c.019.302-.12.722-.331.94l-.547.563c-.21.217-.381.565-.381.775 0 .21.173.207.387-.008l.885-.882.082-.082c.046-.044.12.076.197.255.077.18.003.48-.21.695-.32.32-.638.64-.955.961-.214.215-.387.408-.387.431 0 .023.174-.131.388-.345l.998-.993c.216-.213.58-.165.882-.195.226-.023.499-.163.83-.456l3.343-2.967c.534-.473 2.057-1.401 2.208-2.203zm-.845-2.642l-.211.217c-.211.217-.498.321-.639.23a9.5 9.5 0 01-.253-.171l-.1-.07c-.055-.04.072-.247.283-.464a80.1 80.1 0 00.225-.23c.211-.218.413-.373.45-.349l.064.045.281.198c.157.11.111.375-.1.594zM6.495 8.675c-.221-.207-.143-.438.157-.47 1.588-.173 3.464.113 4.899.113h12.105c.303 0 .31.063.057.228-.5.325-1.185.907-1.503 1.132l-4.256 3.015c-.805.57-1.827 1.669-2.905 1.669-.304 0-.738-.239-.984-.414l-3.562-2.524c-1.174-.832-2.857-1.677-4.008-2.75zM3.57 19.255v-.294c0-.163.005-.489.006-.726v-.43a52.96 52.96 0 01-.006-.665c0-.302.005-.65.006-.776v-.229c.035-.878.192-3.695.14-4.902-.013-.303.125-.398.372-.222l4.132 2.93c1.066.756.057 1.4-.559 1.946l-2.9 2.573c-.364.323-1.191 1.398-1.191.796zm21.881-9.258l.1-.07c.246-.174.63-.479.857-.68l1.355-1.194c.227-.2.337-.409.235-.43-.105-.021-.367.15-.584.36l-2.015 1.95c-.218.211-.195.24.052.064zm-23.872.024c.682-.664 1.378-1.342 2.083-2.038.216-.212.39-.617.39-.903 0-.286-.174-.346-.389-.132L1.575 9.02c-.216.213-.39.609-.39.885 0 .274.177.327.394.115z'/%3E%3Cpath d='M19.84 13.972c.213-.15.562-.442.783-.65 1.91-1.818 3.662-3.49 5.23-4.997l.374-.363c.207-.2.358-.364.339-.364-.02 0-.152.112-.297.25-.146.136-.148.136-.007-.001.142-.137.218-.25.17-.25-.049 0-.264.172-.482.382A1078.32 1078.32 0 0020.799 13c2.226-2.19 5.296-5.198 4.768-4.727l-5.722 5.59c-.215.212-.218.261-.005.11zm6.842 6.846c-.166.17-.33.34-.496.508-.211.218-.274.392-.14.392.133 0 .286-.043.342-.098l.1-.098.466-.468c.214-.215.325-.443.25-.51-.078-.065-.311.058-.522.274z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h30v30H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
}

.contact-anchor.phone {

    background-image: url("data:image/svg+xml,%3Csvg width='53' height='53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='#{$white}'%3E%3Cpath d='M34.669 28.477c-.412-.34-1.62.086-1.863.5-1.505 2.561-5.714-2.023-6.687-2.96-2.084-2.007-1.153-3.73-.839-5.54.189-1.089.098-2.046.265-2.174.147-.114.21-.226.118-.307-2.217-1.949-6.399-9.57-10.305-5.469-6.161 6.47 1.968 15.108 6.665 19.483 3.683 3.43 8.35 7.811 13.556 7.39.12-.005.238 0 .359-.013 1.023-.164 1.987-.434 2.968-.92 6.747-3.346-1.153-7.446-4.237-9.99zm3.614 9.102c-1.066.288-2.422.175-2.958-.053-.538-.228-1.159-.248-1.412.007-.253.255-.616.461-.81.46-.192-.002-.684-.103-1.079-.27-.394-.169-.397-.64-.024-1.017.372-.376.635-.709.584-.742-.05-.033-.389.25-.755.637-.367.387-1.206.404-1.836-.023-.629-.427-.789-1.156-.385-1.589.405-.435.189-1.252-.464-1.85-.652-.6-1.539-.725-1.992-.268-.452.457-1.483.228-2.282-.536-.665-.635-1.323-1.275-1.991-1.896a31.45 31.45 0 01-.331-.31c-.182-.174.044-.689.505-1.149.462-.463.621-1.062.361-1.346-.26-.285-.87-.149-1.366.305-.497.455-1.535.191-2.266-.637l-.206-.234c-.724-.835-.803-1.984-.247-2.51.556-.526.997-.967.984-.986-.012-.019-.467.4-1.017.938-.549.538-1.541.261-2.104-.688a16.149 16.149 0 01-.625-1.155c-.485-.993-.166-2.389.552-3.05.717-.663 1.245-1.595 1.225-2.084a8.76 8.76 0 01.007-.887c.021-.263.054-.546.102-.84.076-.46-.487-.218-1.296.534l-.397.368c-.81.752-1.5.908-1.484.35.009-.333.035-.669.078-1.01.398-3.156 3.008-3.566 4.96-1.396.532.592 1.023 1.212 1.523 1.822.699.855 1.242 1.55 1.177 1.626-.051.06-.07.117-.042.165 1.556 2.705-1.576 4.666.524 7.58 1.309 1.815 3.618 3.5 5.512 4.638 1.046.63 2.102.71 3.05.411 1.054-.332 2.409-.48 3.292.182 1.358 1.021 2.693 2.055 3.901 3.374 1.33 1.554 1.004 2.597-.968 3.13z'/%3E%3Cpath d='M27.034 1.111C17.036 1.39 8.47 6.774 3.956 15.715c-2.421 4.798-2.753 10.332-1.883 15.546.316 1.894 1.398 3.797 1.145 5.771-.243 1.893-1.198 3.893-1.885 5.678-.971 2.522-1.521 4.84-1.274 7.538.046.501.822.491 1.148.425C7.29 49.41 12.385 47.57 18.346 49.9c3.949 1.543 8.73 1.874 12.878 1.055 8.283-1.635 14.921-6.683 18.726-14.219C58.41 19.976 44.548 1.6 27.034 1.111zm-21.649 15.6c2.333-5.576 6.939-9.827 12.438-12.153 1.017-.43 1.233-.079.445.694-3.981 3.91-8.033 7.893-12.141 11.936-.787.774-1.168.542-.742-.478zM47.51 37.655C43.112 46.37 33.358 50.64 23.954 49.663a9.597 9.597 0 01-.565-.08c-.31-.055-.473-.2-.368-.305.105-.106-.157-.35-.578-.565-.42-.213-.899-.265-1.08-.099-.18.167-1.159-.026-2.169-.472-2.006-.883-3.957-1.746-6.163-1.396a75.458 75.458 0 00-3.583.665c-1.082.224-1.846-.327-1.602-1.224.244-.895-.148-.992-.957-.239l-1.388 1.294c-.808.753-1.928 1.47-2.503 1.596-.575.125-1.078-.677-.929-1.77.3-2.212 1.128-4.337 1.893-6.48.371-1.04 1.167-2.438 1.814-3.104.392-.404.783-.808 1.174-1.206l1.539-1.588c.769-.793 1.272-1.875 1.146-2.424-.125-.549-.839-.367-1.623.412-.411.408-.82.814-1.227 1.221-.783.78-1.424.506-1.733-.555-.186-.637-.425-1.312-.65-1.96-.362-1.044.045-2.54.832-3.314l2.546-2.513c.786-.775 1.518-2.29 1.735-3.367.217-1.076-.153-1.288-.922-.495a4350.1 4350.1 0 00-3.671 3.788c-.769.793-1.419.654-1.367-.308.053-.962.781-2.377 1.552-3.168 2.138-2.19 4.166-4.268 6.044-6.187.773-.789 1.857-2.2 2.504-3.097a24.433 24.433 0 015.282-5.345c.888-.657 2.287-1.757 3.071-2.534.796-.788 1.439-1.415 1.899-1.85l.088-.089a.36.36 0 01.133-.094c.025-.004-.575.64-1.342 1.433l-.193.2c-.767.794-1.304 1.387-1.202 1.322.103-.064.812-.755 1.582-1.547l.014-.014c.77-.792 1.948-1.51 2.636-1.57.415-.037.83-.063 1.247-.075.051.002.101.005.15.01.083.005-.097.263-.401.576-.306.312.3.29 1.38.057l.055-.012c1.08-.23 2.858-.213 3.932.046 14.71 3.545 22.699 20.207 15.524 34.42z'/%3E%3Cpath d='M8.942 40.434c-.451.451-.91.912-1.38 1.385-.78.781-.756.805.051.051l1.154-1.076c.808-.754 1.491-1.457 1.526-1.57.035-.116-.571.426-1.351 1.21zm1.582-23.529c-3.411 3.521-4.833 5.005-.11.2.775-.787 1.424-1.473 1.451-1.53.027-.06-.572.537-1.341 1.33z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h52.5v52.5H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='53' height='53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='#{$primary}'%3E%3Cpath d='M34.669 28.477c-.412-.34-1.62.086-1.863.5-1.505 2.561-5.714-2.023-6.687-2.96-2.084-2.007-1.153-3.73-.839-5.54.189-1.089.098-2.046.265-2.174.147-.114.21-.226.118-.307-2.217-1.949-6.399-9.57-10.305-5.469-6.161 6.47 1.968 15.108 6.665 19.483 3.683 3.43 8.35 7.811 13.556 7.39.12-.005.238 0 .359-.013 1.023-.164 1.987-.434 2.968-.92 6.747-3.346-1.153-7.446-4.237-9.99zm3.614 9.102c-1.066.288-2.422.175-2.958-.053-.538-.228-1.159-.248-1.412.007-.253.255-.616.461-.81.46-.192-.002-.684-.103-1.079-.27-.394-.169-.397-.64-.024-1.017.372-.376.635-.709.584-.742-.05-.033-.389.25-.755.637-.367.387-1.206.404-1.836-.023-.629-.427-.789-1.156-.385-1.589.405-.435.189-1.252-.464-1.85-.652-.6-1.539-.725-1.992-.268-.452.457-1.483.228-2.282-.536-.665-.635-1.323-1.275-1.991-1.896a31.45 31.45 0 01-.331-.31c-.182-.174.044-.689.505-1.149.462-.463.621-1.062.361-1.346-.26-.285-.87-.149-1.366.305-.497.455-1.535.191-2.266-.637l-.206-.234c-.724-.835-.803-1.984-.247-2.51.556-.526.997-.967.984-.986-.012-.019-.467.4-1.017.938-.549.538-1.541.261-2.104-.688a16.149 16.149 0 01-.625-1.155c-.485-.993-.166-2.389.552-3.05.717-.663 1.245-1.595 1.225-2.084a8.76 8.76 0 01.007-.887c.021-.263.054-.546.102-.84.076-.46-.487-.218-1.296.534l-.397.368c-.81.752-1.5.908-1.484.35.009-.333.035-.669.078-1.01.398-3.156 3.008-3.566 4.96-1.396.532.592 1.023 1.212 1.523 1.822.699.855 1.242 1.55 1.177 1.626-.051.06-.07.117-.042.165 1.556 2.705-1.576 4.666.524 7.58 1.309 1.815 3.618 3.5 5.512 4.638 1.046.63 2.102.71 3.05.411 1.054-.332 2.409-.48 3.292.182 1.358 1.021 2.693 2.055 3.901 3.374 1.33 1.554 1.004 2.597-.968 3.13z'/%3E%3Cpath d='M27.034 1.111C17.036 1.39 8.47 6.774 3.956 15.715c-2.421 4.798-2.753 10.332-1.883 15.546.316 1.894 1.398 3.797 1.145 5.771-.243 1.893-1.198 3.893-1.885 5.678-.971 2.522-1.521 4.84-1.274 7.538.046.501.822.491 1.148.425C7.29 49.41 12.385 47.57 18.346 49.9c3.949 1.543 8.73 1.874 12.878 1.055 8.283-1.635 14.921-6.683 18.726-14.219C58.41 19.976 44.548 1.6 27.034 1.111zm-21.649 15.6c2.333-5.576 6.939-9.827 12.438-12.153 1.017-.43 1.233-.079.445.694-3.981 3.91-8.033 7.893-12.141 11.936-.787.774-1.168.542-.742-.478zM47.51 37.655C43.112 46.37 33.358 50.64 23.954 49.663a9.597 9.597 0 01-.565-.08c-.31-.055-.473-.2-.368-.305.105-.106-.157-.35-.578-.565-.42-.213-.899-.265-1.08-.099-.18.167-1.159-.026-2.169-.472-2.006-.883-3.957-1.746-6.163-1.396a75.458 75.458 0 00-3.583.665c-1.082.224-1.846-.327-1.602-1.224.244-.895-.148-.992-.957-.239l-1.388 1.294c-.808.753-1.928 1.47-2.503 1.596-.575.125-1.078-.677-.929-1.77.3-2.212 1.128-4.337 1.893-6.48.371-1.04 1.167-2.438 1.814-3.104.392-.404.783-.808 1.174-1.206l1.539-1.588c.769-.793 1.272-1.875 1.146-2.424-.125-.549-.839-.367-1.623.412-.411.408-.82.814-1.227 1.221-.783.78-1.424.506-1.733-.555-.186-.637-.425-1.312-.65-1.96-.362-1.044.045-2.54.832-3.314l2.546-2.513c.786-.775 1.518-2.29 1.735-3.367.217-1.076-.153-1.288-.922-.495a4350.1 4350.1 0 00-3.671 3.788c-.769.793-1.419.654-1.367-.308.053-.962.781-2.377 1.552-3.168 2.138-2.19 4.166-4.268 6.044-6.187.773-.789 1.857-2.2 2.504-3.097a24.433 24.433 0 015.282-5.345c.888-.657 2.287-1.757 3.071-2.534.796-.788 1.439-1.415 1.899-1.85l.088-.089a.36.36 0 01.133-.094c.025-.004-.575.64-1.342 1.433l-.193.2c-.767.794-1.304 1.387-1.202 1.322.103-.064.812-.755 1.582-1.547l.014-.014c.77-.792 1.948-1.51 2.636-1.57.415-.037.83-.063 1.247-.075.051.002.101.005.15.01.083.005-.097.263-.401.576-.306.312.3.29 1.38.057l.055-.012c1.08-.23 2.858-.213 3.932.046 14.71 3.545 22.699 20.207 15.524 34.42z'/%3E%3Cpath d='M8.942 40.434c-.451.451-.91.912-1.38 1.385-.78.781-.756.805.051.051l1.154-1.076c.808-.754 1.491-1.457 1.526-1.57.035-.116-.571.426-1.351 1.21zm1.582-23.529c-3.411 3.521-4.833 5.005-.11.2.775-.787 1.424-1.473 1.451-1.53.027-.06-.572.537-1.341 1.33z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h52.5v52.5H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

}