
  
  // Carousel 
  $carousel-shadow:rgba(0,0,0,0.75);
  $box-shadow-length: 8px;
  $margin-for-shadow: calc(#{$box-shadow-length}+ 5px);

  @mixin carousel-shadow {
    -webkit-box-shadow: 0px 0px  $box-shadow-length 0px $carousel-shadow;
  -moz-box-shadow: 0px 0px  $box-shadow-length 0px $carousel-shadow;
  box-shadow: 0px 0px  $box-shadow-length 0px $carousel-shadow;
  }
  
  // the child item must have the class: "item"
  
  $card-padding: 15px;
  $border-radius-card:15px;

  .right-column {margin:0 calc(#{$margin-for-shadow}*-1);}
  @include media-breakpoint-up(xl) {margin: 0 auto;}

  .owl-item {cursor:pointer}
  
  .owl-item-inner {
    padding: $card-padding;
    border-radius: $border-radius-card;
  }
  .carousel-shadow {
    margin:$margin-for-shadow;
    @include carousel-shadow;
  }
  
  .owl-nav, .owl-dots {
    display: block;
    text-align: center;
    
    button {
      outline-style: none;
    }
    
    span {
      font-size: 55px;
      margin: 0 7.5px;
      line-height: 1;
    }
  } //.owl-nav, .owl-dots
  
  .owl-theme .owl-controls .owl-page {
      display: inline-block;
  }
  
  .owl-dots .owl-dot span {
      background: none repeat scroll 0 0 #869791;
      border-radius: 20px;
      display: block;
      height: 12px;
      margin: 5px 7px;
      opacity: 0.5;
      width: 12px;
  }

  // * Caroulsel about page

$about-card-width: 360px;

.about-carousel .owl-stage-outer .owl-stage {

      .owl-item-inner {border: 1px solid $primary;
      }

  }

  .about-slider-title {
    background: $primary;
    color: $white;
    display: block;
    width: calc(100% +  (#{$card-padding} + 1px)*2);
    margin-left: calc(#{-$card-padding} - 1px);
    margin-top: calc(#{-$card-padding} - 1px);
    padding: $card-padding;
    border-top-left-radius: calc(#{$border-radius-card} - 3px);
    border-top-right-radius: calc(#{$border-radius-card} - 3px);
  } 
