
/* Fluid Font-size
font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

https://css-tricks.com/snippets/css/fluid-typography/
*/





// font-family: metallophile-sp8, sans-serif;
// font-weight: 300;
// font-style: normal;

// Metallophile Sp8 Medium

// font-family: metallophile-sp8, sans-serif;
// font-weight: 500;
// font-style: normal;



$font-type-1: 'metallophile-sp8', sans-serif;
$font-type-2: 'almanach', sans-serif;

$min-viewport: 350;
$max-viewport: 1792;

body {
    font-size: calc(16px + (20 - 16) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) ));
    font-family: $font-type-2;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

h1 {
    font-family: $font-type-1;
    font-style: normal;
    font-weight: normal;
    font-size: calc(45px + (116 - 75) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) ));

    color: $heading-color-light;

}

h2 {
    font-family: $font-type-1;
    font-style: normal;
    font-weight: normal;
    font-size: calc(35px + (66 - 35) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) ));

    color:$heading-color-primary;
}

.subtitle {
    margin-bottom: calc(40px + (80 - 40) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) ));
}

button.portfolio-filter {
    font-size: calc(14px + (15 - 14) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) ));

    font-family: $font-type-2;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
} // ul

a {
  font-family: $font-type-2;
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.05em;


  color: $anchor-primary;

  span {
      font-family: $font-type-2;
      color: $anchor-primary;  
  }
}

.short-paragraph {
    max-width: 650px;
}