


@import "./vendors/bootstrap-4.5.3/scss/functions";
@import "./vendors/bootstrap-4.5.3/scss/variables";
@import "./vendors/bootstrap-4.5.3/scss/mixins";

@import './abstracts/variables';

// Optional
@import "./vendors/bootstrap-4.5.3/scss/reboot";
@import "./vendors/bootstrap-4.5.3/scss/type";
@import "./vendors/bootstrap-4.5.3/scss/images";
@import "./vendors/bootstrap-4.5.3/scss/code";
@import "./vendors/bootstrap-4.5.3/scss/grid";

@import "./vendors/bootstrap-4.5.3/scss/bootstrap.scss";


@import './abstracts/mixins.scss';
@import './abstracts/animations';
@import './abstracts/typpography';

@import './layout/navigation';

@import './pages/about.scss';
@import './pages/portfolio.scss';
@import './pages/contact.scss';

@import './components/carousel';
@import './components/buttons';

//font-family: 'Dosis', sans-serif;
//font-family: 'Fredericka the Great', cursive;


/* Fluid Font-size
font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

https://css-tricks.com/snippets/css/fluid-typography/
*/

$min-viewport: 350;
$max-viewport: 1792;

body {
    background-color: $body-bg-color;
    color: $body-color;
    font-family: Dosis;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  } // body

  ul {
      list-style: none;
      padding-inline-start: 0px;
  }

  a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.05em;


    color: $anchor-primary;

    span {
        font-family: 'Dosis', sans-serif;
        color: $anchor-primary;  
    }
  }

