


@import "./vendors/bootstrap-4.5.3/scss/functions";
@import "./vendors/bootstrap-4.5.3/scss/variables";
@import "./vendors/bootstrap-4.5.3/scss/mixins";

@import './abstracts/variables';

/*
// Optional
@import "./vendors/bootstrap-4.5.3/scss/reboot";
@import "./vendors/bootstrap-4.5.3/scss/type";
@import "./vendors/bootstrap-4.5.3/scss/images";
@import "./vendors/bootstrap-4.5.3/scss/code";
@import "./vendors/bootstrap-4.5.3/scss/grid";
*/
@import "./vendors/bootstrap-4.5.3/scss/bootstrap.scss";


@import './abstracts/mixins.scss';
@import './abstracts/animations';
@import './abstracts/typpography';

@import './layout/navigation';

@import './pages/about.scss';
@import './pages/portfolio.scss';
@import './pages/contact.scss';
@import './pages/home.scss';

@import './components/container';
@import './components/carousel';
@import './components/buttons';



body {
    background-color: $body-bg-color;
    color: $body-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  } // body

  html {
    font-size: 16px;
  }


.testimonial-container {
 max-width: 700px;
 margin: 0 auto;
}

.carousel-external {
  border-radius: 15px;
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid $primary;
}

.testimonial-paragraph {
  font-size: calc(20px + (25 - 20) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) ));
  font-weight: 300;
  font-style: italic;
}

.testimonial-container.none {
  display: none;
}

.hidden-height {
  display:none;
  overflow: hidden;
}

.hidden-height.open {
  height:auto;
  @include transition;
  padding: 60px;
 }